body{
    background-image: url("../bg/bg.jpg");
    background-size: 100%;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;

  
}
.title{
    color: white;
    background-color: rgba(0, 255, 255, 0.226);
    border-radius: 20px;
}

.headerMain{
    margin: 20px;
}

.contentMain{
    background-color: rgba(0, 255, 255, 0.226);
    min-height: 500px;
    border-radius: 20px;
}
.outputSub{
    padding: 10px;
    text-align: justify;
}
.outputSub h1{
    text-align: center;
}

.outputTable{
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.outputTable tr{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.096);
}

.outputTable tr td{
    color: black;
    font-weight: 800;
    vertical-align: initial;
    background-color: rgba(240, 248, 255, 0.349);
}


.inputtitle{
    border-radius: 10px;
    margin:20px;
}
.inputSub{
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 10px;
}
.inputLable{
    max-width: 100px;

}