body{
    background-image: url("../bg/bg.jpg");
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    min-height: 100vh;
    background-repeat: repeat;
    background-size: 100%;
}
.title{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.headerMain{
    margin: 20px;
}

.contentMain{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 500px;
    border-radius: 20px;
}


.inputtitle{
    border-radius: 10px;
    margin:20px;
}
.inputSub{
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.inputLable{
    max-width: 100px;

}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border: 0.5rem solid rgba(204, 204, 204, .35); 
    border-top: 0.5rem solid rgba(204, 204, 204, .85); 
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 0.7s linear infinite;
}


.loader-white {
    border: 0.5rem solid rgba(255, 255, 255, .35); 
    border-top: 0.5rem solid rgba(255, 255, 255, .85); 
}
